.vscode/solution-explorer/class.cs-template
.vscode/solution-explorer/class.ts-template
.vscode/solution-explorer/template-parameters.js
.vscode/solution-explorer/class.vb-template
.vscode/solution-explorer/default.ts-template
.vscode/solution-explorer/enum.cs-template
.vscode/solution-explorer/interface.cs-template
.vscode/solution-explorer/interface.ts-template
.vscode/solution-explorer/template-list.json
DevelopBase/obj/Debug/netstandard2.0/DevelopBase.assets.cache
DevelopBase/obj/Debug/netstandard2.0/project.razor.json
PurocumentLib/obj/Debug/netstandard2.0/PurocumentLib.assets.cache
PurocumentLib/obj/Debug/netstandard2.0/PurocumentLib.csproj.CoreCompileInputs.cache
PurocumentLib/obj/Debug/netstandard2.0/PurocumentLib.csprojAssemblyReference.cache
PurocumentLib/obj/Debug/netstandard2.0/project.razor.json
*.cache
